@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Estudante @ViewData["Estudante"]</p>
<address>
    <strong>More information: </strong> <a href="https://educandoweb.com.br">Educandoweb.com.br</a>
</address>